.custom-class-1 {
  background-color: white;
  color: #f2f2f2;
}

.custom-class-2 {
  background-color: white;
  color: #e6e6e6;
}

.custom-class-3 {
  background-color: white;
  color: #d9d9d9;
}

.custom-class-4 {
  background-color: white;
  color: #cccccc;
}

.custom-class-5 {
  background-color: white;
  color: #bfbfbf;
}

.custom-class-6 {
  background-color: white;
  color: #b3b3b3;
}

.custom-class-7 {
  background-color: white;
  color: #a6a6a6;
}

.custom-class-8 {
  background-color: white;
  color: #999999;
}

.custom-class-9 {
  background-color: white;
  color: #8c8c8c;
}

.custom-class-10 {
  background-color: white;
  color: gray;
}