.custom-class-1 {
  background-color: #4aa3df;
  color: #258cd1;
}

.custom-class-2 {
  background-color: #5faee3;
  color: #217dbb;
}

.custom-class-3 {
  background-color: #75b9e7;
  color: #1d6fa5;
}

.custom-class-4 {
  background-color: #8bc4ea;
  color: #196090;
}

.custom-class-5 {
  background-color: #a0cfee;
  color: #16527a;
}

.custom-class-6 {
  background-color: #b6daf2;
  color: #124364;
}

.custom-class-7 {
  background-color: #cce5f6;
  color: #0e354f;
}

.custom-class-8 {
  background-color: #e1f0fa;
  color: #0a2639;
}

.custom-class-9 {
  background-color: #f7fbfe;
  color: #061823;
}

.custom-class-10 {
  background-color: white;
  color: #02090e;
}